@use '../base/breakpoints' as *;

:root {
  --space-unit:  1.8rem;

  @include breakpoint(md, "not all") {
    --space-unit:  .8rem;
  }
}

:root, * {
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs:  calc(0.25 * var(--space-unit));
  --space-xxs:   calc(0.375 * var(--space-unit));
  --space-xs:    calc(0.5 * var(--space-unit));
  --space-sm:    calc(0.75 * var(--space-unit));
  --space-base:  calc(1 * var(--space-unit));
  --space-md:    calc(1.25 * var(--space-unit));
  --space-lg:    calc(2 * var(--space-unit));
  --space-xl:    calc(3.25 * var(--space-unit));
  --space-xxl:   calc(5.25 * var(--space-unit));
  --space-xxxl:  calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(11.75 * var(--space-unit));
  //--component-padding: var(--space-xxl);
  //--component-padding: var(--space-md);
  --component-padding: var(--space-xxl);

  @include breakpoint(sm, "not all") {
    --component-padding: var(--space-md);

  }
}
